<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-logo">
      <img src="assets/images/logo.jpg" alt="My Languages academy Logo" style="width: 100px;height: 100px;"/>
    </div>
    <div class="navbar-nav" id="navbarSupportedContent">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link active" routerLink="/">Home</a></li>
      <li class="nav-item"><a class="nav-link active" routerLink="/">About</a></li>
      <li class="nav-item"><a class="nav-link active" routerLink="/questions">Configuration</a></li>
      <li class="nav-item"><a class="nav-link active" routerLink="/recordings">Recordings</a></li>
      <li class="nav-item"><a class="nav-link active" routerLink="/languages">Quiz1</a></li>
      <li class="nav-item"><a class="nav-link active" routerLink="/recordAudio">Quiz2</a></li>
      <li class="nav-item"><a class="nav-link active" routerLink="/">Contact </a></li>      
     </ul> 
    </div>
   </div>    
</nav>


