<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-logo">
      <img src="assets/images/logo.jpg" alt="My Languages academy Logo" style="width: 100px;height: 100px;"/>
    </div>
    <div class="navbar-nav" id="navbarSupportedContent">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link active" routerLink="/">Home</a></li>
      <li class="nav-item"><a class="nav-link active" routerLink="/">About</a></li>
      <li class="nav-item"><a class="nav-link active" routerLink="/questions">Configuration</a></li>
      <li class="nav-item"><a class="nav-link active" routerLink="/recordings">Recording assessment</a></li>
      <li class="nav-item">
        <div class="dropdown show">
         <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Activities
         </a>  
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="/languages">Excercise 1</a>
          <a class="dropdown-item" href="/recordAudio">Excercise 2</a>         
         </div>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link active" routerLink="/speakingClubMeetings">Speaking club meetings</a></li>
      <li class="nav-item"><a class="nav-link active" routerLink="/">Contact </a></li>      
     </ul> 
    </div>
   </div>    
</nav>


