<div *ngIf="question.idCategory!=2; else secondDivision">
   <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h4><b>Question update</b></h4>
        <br>
      </div>        
    </div>
   </div>
   <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="id"
            required
            [(ngModel)]="question.id"
            name="id"
            hidden
          />
        </div>
  
        <div class="form-group">
          <input
            class="form-control"
            id="idCategory"
            required
            [(ngModel)]="question.idCategory"
            name="idCategory"
            hidden
          />
        </div>      

        <div class="form-group">          
          <table class="table table-dark" style="width:50%">
            <thead>
              <tr class="center-align">
                <th>Part 1</th>   
                <th>Part 2</th>
                <th>Part 3</th>                          
              </tr>
            </thead>
            <tbody>
              <tr class="center-align">
                <td><input
                  type="text"                        
                  id="description1"
                  size="40"
                  required
                  [(ngModel)]="question.description1"
                  name="description1"              
                /></td>   
                <td><input
                  type="text"              
                  id="answer"
                  size="10"
                  required
                  [(ngModel)]="question.answer"
                  name="answer"
                /></td>
                <td><input
                  type="text"
                  id="description2"
                  size="40"
                  required
                  [(ngModel)]="question.description2"
                  name="description2"
                 /></td>                          
              </tr>    
              
            </tbody>          
          </table>    
         </div>  
        <br> 
        <button (click)="saveQuestion()" class="btn btn-primary ml-1">Apply changes</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Question was updated successfully!</h4>
        <button class="btn btn-primary ml-1" (click)="getListOfQuestions()" >View questions</button>
      </div>
   </div>
</div>  

<ng-template #secondDivision>
  
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h4><b>Question update</b></h4>
        <br>
      </div>        
    </div>
   </div>
   <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="id"
            required
            [(ngModel)]="question.id"
            name="id"
            hidden
          />
        </div>
  
        <div class="form-group">
          <input
            class="form-control"
            id="idCategory"
            required
            [(ngModel)]="question.idCategory"
            name="idCategory"
            hidden
          />
        </div>      

        <div class="form-group">          
          <table class="table table-dark" style="width:50%">
            <thead>
              <tr class="center-align">
                <th>Part 1</th>   
                <th>Part 2</th>
                <th>Part 3</th>                          
              </tr>
            </thead>
            <tbody>
              <tr class="center-align">
                <td><input
                  type="text"                        
                  id="description1"
                  size="40"
                  required
                  [(ngModel)]="question.description1"
                  name="description1"              
                /></td>   
                <td><input
                  type="text"              
                  id="answer"
                  size="10"
                  required
                  [(ngModel)]="question.answer"
                  name="answer"
                /></td>
                <td><input
                  type="text"
                  id="description2"
                  size="40"
                  required
                  [(ngModel)]="question.description2"
                  name="description2"
                 /></td>                          
              </tr>        
              
              <tr class="center-align">

                <td>

                </td>
                <td>
                  
                  <input
                  type="text"              
                  id="wrongAnswer2"
                  size="10"
                  required
                  [(ngModel)]="answer2"
                  name="wrongAnswer2"/>

                </td>
                <td>

                </td>

              </tr>


              <tr class="center-align">

                <td>

                </td>
                <td>

                  <input
                  type="text"              
                  id="wrongAnswer3"
                  size="10"
                  required
                  [(ngModel)]="answer3"
                  name="wrongAnswer3"/>

                </td>
                <td>
                  
                </td>

              </tr>

            </tbody>          
          </table>    
         </div>  
        <br> 
        <button (click)="saveQuestion()" class="btn btn-primary ml-1">Apply changes</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Question was updated successfully!</h4>
        <button class="btn btn-primary ml-1" (click)="getListOfQuestions()" >View questions</button>
      </div>
   </div>

</ng-template>
