<div class="mycontainer">

     <div style="background-color:#FFF4A3;width: 500px;height: 500px;">
        <img src="assets/images/qye-challenge-logo.png" alt="My Languages academy Logo" style="width: 500px;height: 300px;"/>
     </div>
      
      <div style="background-color:#FFC0C7;width: 500px;height: 500px;">
        <h2>How to configure a question</h2>
        <p style="color:blue;">1. Click on Quiz configuration</p>
        <p style="color:blue;">2. Press Modify button in one question</p>
        <p style="color:blue;">3. Write some text in the Part 1 text field (example: My daughter)</p>
        <p style="color:blue;">4. Write the correct answer in the Part 2 text field (example: runs)</p>
        <p style="color:blue;">5. Write the final part of the sentence in the Part 3 text field (example: faster than me (run))</p>
        <p style="color:blue;">6. Press button Apply changes to save</p>
        <p style="color:blue;">7. Click on take quiz to see your change</p>
        <h2> My daughter runs faster than me (run) </h2>
    </div>

</div>

